{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry"
            }
        ],
        "@babel/typescript"
    ],
    "plugins": [],
    "env": {
        "test": {
            "presets": ["@babel/preset-env"]
        }
    }
}
